
body {
    background-color: #F0F8FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14;
    text-align: justify;
    color:#6A5ACD;
}

.paragrafo {
    font-size: 52px;
    font-weight: 700;
    color:#FF4500;	
}

.lista {
    background-color: #fcc;
    color:#fcf;
    text-decoration: underline overline;
}